* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4070F4;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 5px 40px;
}

header img {
    width: 80px;
}

header h1 {
    margin-left: 20px;
    display: inline;
    color: white;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}



main {
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 20px auto;
    padding: 50px;
    width: 90vw;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.box {
    height: 200px;
    padding: 20px;
    border-radius: 20px;
}

.scroll {
    overflow-y: auto;
    height: 75%;
}

.trabajos {
    color: #FFFFFF;
    background-color: #26383F;
}

.job {
    display: flex;
    align-items: center;
}

.proyectos {
    color: #FFFFFF;
    background-color: #FF9F1C;
}

.project {
    display: flex;
    align-items: center;
}

.redes-sociales {
    color: #242E36;
    background-color: #2DC4B5;
}

.socialNetworkLogo {
    width: 50px;
}

.socialNetwork {
    display: flex;
    align-items: center;
}

.skills {
    color: #FFFFFF;
    background-color: #E0142D;
}

.skill {
    display: flex;
    align-items: center;
}

.box button {
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: 0;
    font-weight: bold;
    margin-top: 10px;
}

.projectLogo {
    width: 50px;
    height: 50px;
}