* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

main {
    width: 60vw;
    height: 60vh;
    margin: 0 auto;

    background-color: #4070F4;
    border-radius: 10px;

    text-align: center;
}

form {
    padding: 5vw;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="date"], input[type="url"], textarea, select {
    padding: 10px 20px;
    border: 0;
    border-radius: 0;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 20px 20px;
    border: 0;
    border-radius: 0;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
}

.addSkillCategoryBtt {
    padding: 20px 20px;
    border: 0;
    border-radius: 0;
    background-color: lightcoral;
    font-size: 20px;
    font-weight: bold;
}