* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4070F4;
}

.header-alert {
    width: 98%;
    height: 8vh;
    margin: 10px auto 40px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-alert p {
    font-size: 30px;
    font-weight: bold;
}

.red {
    background-color: rgba(255, 73, 73, 0.7);
}

.yellow {
    background-color: rgba(255, 228, 73, 0.7);
}

main {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

main h1 {
    margin-bottom: 30px;
}

main form {
    width: 100%;
}

main form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

main form input[type="button"] {
    cursor: pointer;
}